* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}


body, 
html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 820px;
  overflow: hidden;
}

body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(rgb(81, 71, 80), rgb(8, 7, 8) 85%);
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    .sidebar {
        flex-shrink: 0;
        width: 220px;
        overflow-y: auto;
        background-color: rgba(0,0,0,.5);
        padding: 15px;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                color: #a0a0a0;
                a {
                    color: #a0a0a0;
                    display: block;
                    padding: 4px;
                    transition: color .2s;    
                    &:hover {
                        color: #fff;
                    }
                    &.active {
                        color: #1db954;
                        &:hover {
                            color: #1db954;
                        }
                    }
                }
                &:hover a {
                    color: #fff;
                }
            }
        }
    }
    >div:nth-child(2) {
        flex-grow: 1;
        overflow-y: auto;
        padding: 40px 30px;
    }
}

.covers {
    margin: auto 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 180px;
        >a {
            display: block;
            width: 180px;
            height: 180px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0;
        }
    }
    p {
        margin: 0;
        a {
            display: block;
            margin: 0;
            padding: 10px 8px;
            text-align: center;
        }
    }
}

.profile {
    display: flex;
    margin-bottom: 40px;
    .cover {
        margin-right: 40px;
        img {
            width: 200px;
        }
    }
    .info {
        color: hsla(0,0%,100%,.5);
        font-size: 14px;
        h1 {
            color: #fff;
            font-weight: 700;
        }
        a:hover {
            border-bottom: 1px solid #fff;
        }
    }
}

table {
    color: hsla(0,0%,100%,.5);
    a {
        color: #fff;
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
}